body{
   background-color: black;
   color:white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,monospace;
   padding: 0;
   margin: 0;
}

h1{
margin: 0 0 0 8px;
padding-top: 8px;
}

.bar{

    background-color: gray;
    padding: 10px;
    display: flex;
}

.logo{
    width: 50px;
    height: 50px;
}

.container{
    margin-top: 30px;
    padding: 0 60px 0 60px;
}

.post{
    background-color: rgb(56, 52, 52);
    margin-bottom: 15px;
    padding: 5px 20px 5px 20px;
    border-radius: 12px;
}

.post h4 {
    color: green;


}

.post span {
    color: blue;


}